{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    background-color: #fabdfa;
    position: relative;
}

#nav{
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img{
    height: 80px;
    width: 40%;
}
#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: right;
}

#elems{
    /*background-color: red;*/
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
}
#elem2{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
    border-right: 2px solid #000000;
    padding: 20px 60px ;
    text-align: center;
    border-left: 2px solid #000000;

}
#elem3{
    width: 30%;
    height: 100%;
    /*background-color: blue;*/
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    
}
#image-div:hover img{
    scale: 1.2;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s ;
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div:hover img{
    scale: 1.1;
}

#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
#elem1 p{
    font-size: 18px;
    font-weight: 100;
}
#elem3 p{
    font-size: 18px;
    font-weight: 100;
}
#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#elem2 h2{
    font-size: 75px;
    font-weight: 100 ;
}
#elem2 h3{
    font-size: 50px;
    font-weight: 100 ;
    margin: 20px 0 ;
}

#page1 h1{
    font-size: 235px;
    letter-spacing: -5px;
    font-weight: 100;
    background-color: black;
    color: #fabdfa;
    line-height: 330px ;
    width: 95.5%;
    margin-left: 2%;
    margin-top: 0%;
   
}